@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

@media (max-width: 575px) {
  .toolbar__btn-text-edit,
  .toolbar__btn-text-align,
  .toolbar__btn-text-style,
  .toolbar__btn-text-list { 
    margin: 0.25em 0.1em;
  }
  .text-box {
    height: calc(100vh - 25em);
  }
}

@media (min-width: 576px) {
  .toolbar__btn-text-edit,
  .toolbar__btn-text-align,
  .toolbar__btn-text-style,
  .toolbar__btn-text-list { 
    margin: 0.25em 1.25em 0.25em 0;
  }
  .text-box {
    height: calc(100vh - 18em);
  }
}

/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

html {
  font-family: "Inconsolata", monospace;
  text-align: center;
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

button {
  width:   3.5em;
  height:  3.5em;
  margin:  0.25em;
  padding: 2.5em;
  font-size: 0.6em;
  background-color:    #fff;
  background-repeat:   no-repeat;
  background-position: center;
  border: none;
  border-radius: 0.25em;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  cursor: pointer;
}

select {
  width: fit-content;
  min-width: 6em;
  margin-top: 0.25em;
  padding: 0.2em;
  user-select: none;
}

label {
  user-select: none;
}

input {
  min-width: 5em;
  margin-top: 0.25em;
  padding: 0;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  box-shadow: 0 6px 6px -4px #cacaca;
}

h1 {
  margin: 0;
  padding: 0.5em;
  background-color: #483d8b;
  color: #fff;
  text-shadow: 1px 1px 6px #000;
  user-select: none;
}

/*------------------------------------*\
  #TOOLBAR
\*------------------------------------*/

.toolbar {
  min-height: 4em;
}

.toolbar__container {
  margin: 0.5em 1em;
}

.toolbar-selects,
.toolbar-buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.toolbar__select-font-name,
.toolbar__select-font-size,
.toolbar__select-color {
  display: block;
  margin: 0.5em 0.8em 0.5em 0;
}

.toolbar__select-font-name {
  width: 8em;
  margin-right: 1.8em !important;
}

.toolbar__select-font-size {
  width: 5em;
}

.toolbar__select-color {
  width: 4em;
}

.toolbar__btn-text-edit-select-all {
  background-image: url("../assets/icons/select-all.svg");
}
.toolbar__btn-text-edit-cut {
  background-image: url("../assets/icons/scissors.svg");
}
.toolbar__btn-text-edit-copy {
  background-image: url("../assets/icons/copy.svg");
}
.toolbar__btn-text-edit-paste {
  background-image: url("../assets/icons/paste.svg");
}
.toolbar__btn-text-edit-undo {
  background-image: url("../assets/icons/undo.svg");
}
.toolbar__btn-text-edit-redo {
  background-image: url("../assets/icons/redo.svg");
}

.toolbar__btn-text-style-bold {
  background-image: url("../assets/icons/bold.svg");
}

.toolbar__btn-text-style-italic {
  background-image: url("../assets/icons/italic.svg");
}

.toolbar__btn-text-style-underline {
  background-image: url("../assets/icons/underline.svg");
}

.toolbar__btn-text-style-subscript {
  background-image: url("../assets/icons/subscript.svg");
}

.toolbar__btn-text-style-superscript {
  background-image: url("../assets/icons/superscript.svg");
}

.toolbar__btn-text-align-left {
  background-image: url("../assets/icons/paragraph-left.svg");
}

.toolbar__btn-text-align-center {
  background-image: url("../assets/icons/paragraph-center.svg");
}

.toolbar__btn-text-align-right {
  background-image: url("../assets/icons/paragraph-right.svg");
}

.toolbar__btn-text-align-justify {
  background-image: url("../assets/icons/paragraph-justify.svg");
}

.toolbar__btn-text-list-ordered {
  background-image: url("../assets/icons/list-ordered.svg");
}

.toolbar__btn-text-list-unordered {
  background-image: url("../assets/icons/list-unordered.svg");
}

.pressed {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/*------------------------------------*\
  #TEXT-BOX
\*------------------------------------*/

.text-box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 0.25em;
  margin: 0 1em;
  padding: 1em;
  width:  calc(100vw - 4em);
  text-align: left;
  overflow: scroll;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer p {
  margin: 0.5em;
  font-size: 0.8em;
  user-select: none;
}